body {
    border: 0;
    padding: 0;
    margin: auto;
    width: 1024px;
}

/*////////////////////////////////////////////////////*/
/*User Site*/
/*////////////////////////////////////////////////////*/

#Home-Head {
    width: 100%;
    height: 200px;
    background: #3498d8;
}

#Home-Head span {
    display: block;
    font-family: Arial;
    font-size: 50px;
    margin: auto;
    text-align: center;
    width: 500px;
    position: relative;
    top: 46px;
    color: white;
}

.my-dialog {
    display: none;
}

/*////////////////////////////////////////////////////*/
/*Worker Site*/
/*////////////////////////////////////////////////////*/
#Console-Header {
    width: 100%;
    height: 200px;
    background: #3498d8;
}

#Console-Header span {
    display: block;
    font-family: Arial;
    font-size: 50px;
    margin: auto;
    text-align: center;
    width: 500px;
    position: relative;
    top: 46px;
    color: white;
}

#Console-Header a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    line-height: 1.5em;
    background: white;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    color: #3498d8;
}

#UserInfo {
    float: right;
    bottom: -51px;
    position: relative;
}

#Consolee-Body {
    height: 500px;
}

#WorkingArea {
    display: inline-block;
    width: 80%;
    height: 100%;
    background: #ffd800;
}

#MsgList {
    display: inline-block;
    width: 19%;
    height: 80%;
    background: #808080;
    position: relative;
    bottom: 20%;
    overflow-y: auto;
}

#MsgList ul {
    padding-left: 0;
    width: 190px;
}

#MsgList li {
    height: 20px;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    background: white;
    list-style-type: none;
}

#WorkerContent {
    width: 100%;
    height: 120px;
    border: 1px solid #3498d8;
    overflow-y: auto;
}