@using LiveChat.Models

@{
    ViewBag.Title = "Message";
    Layout = null;
}

<table id="MessageTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>MsgID</th>
            <th>MsgContent</th>
            <th>UserID</th>
            <th>PostTime</th>
            <th>FName</th>
            <th>LName</th>
            <th>Status</th>
        </tr>
    </thead>
</table>

<script src="~/Scripts/Message.js"></script>
